<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Biblioteca</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
    </head>
    <body>

        <h1>Bem-vindo a lista dos Livros</h1>
        
        <h3>Livros selecionados:</h3>
        
        <tr th:each=" livro : ${livros}">
			<span th:text="${livro.nome}"></span>
			<span th:text="${livro.autor}"></span>
			<span th:text="${livro.genero}"></span>
			<span th:text="${livro.editora}"></span>
			<span th:text="${livro.lancamento}"></span>
			<p></p>
		</tr>
        
    </body>
</html>